[Unit]
Description=E-ink Pregnancy Tracker
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/kylefoley/e-ink-pregnancy-tracker/main.py
Restart=always
RestartSec=10
User=root
WorkingDirectory=/home/kylefoley/e-ink-pregnancy-tracker

[Install]
WantedBy=multi-user.target